.error-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
}

.icon {
    height: 100px;
    width: auto;
}

.label {
    text-align: center;
    width: auto;
}